body {
  margin: 0;    /* pone toda la pantalla con el mismo formato */
  padding: 0;
}

nav {
  background: #0064a4;
  height: 45px;
  text-align: center;
  width: 100%
}

button{ /* todos los botones tienen el mismo formato*/
  background: #66a3cb;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
  padding: 5px;
  width: 100px;
}

button:focus{
  outline: none;
}

button:hover {
  opacity: .8;
}

input { /* se le da position relative para lograr colocar el icon "search" dentro de él */
  background: #66a3cb;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  height: 20px;
  padding: 5px;
  position: relative;
  width: 200px;
}

input:focus {
  outline: none;
}

input:hover {
  opacity: .8;
}

main { /* esta seccion tiene un sólo formato */
  background-color: #0075c1;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 800px;
  padding-left: 10px;
  width: 100%;
}

a {
  color: #fff;
  margin: 10px;
  text-decoration: none;
}

#search{
  position: absolute;
  left: 300px;
  top: 10px;
}

#logo{
  height: 60px;
  margin: -7px 200px 100px 0;
  opacity: .5;
  width: 80px;
}

#menu-container { /* todos los elelmentos dentro de este tienen el mismo formato*/
  color: #fff;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

#icons-container {
  display: inline-block;
  float: right;
  margin-top: -6px;
}

#profile { /* se le agrega un avatar en la foto de perfil*/
  background-image: url("../assets/images/laboratoria.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  height: 35px;
  margin:9px;
  width: 35px;
}

#tab-p{
  display: inline-block;
}

#btn{
  background: inherit;
  color: #fff;
  display: inline-block;
  float: right;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-decoration: underline;
  margin: 0 -173px 0 0;
  width: 200px;
}

.icon{ /*todos los botones superiores cuantan con el mismo formato*/
  display: inline-block;
  font-size: 20px;
  height: 30px;
  width: 30px;
}

.list {
  border: none;
  border-radius: 5%;
  background-color:#0064a4;
  font-size: 14px;
  height: 30px;
}

.list::placeholder{ /*se le da un color para que se note con el fondo previamente especificado*/
  color: #fff;
}

.save {
  width: 60px;
}
